Repository netlify/cli, changes with the owners that .github/CODEOWNERS names for each.
All owners: @netlify/netlify-dev, @netlify/docs, @netlify/runtime-pod-compute

chore: update contributors field
  package.json
Owners: none

fix: increase dev server timeout to reduce failing tests
  tests/integration/utils/dev-server.js
Owners: none

chore: update contributors field
  package.json
Owners: none

fix: doubling timeout as a test
  tests/integration/utils/dev-server.js
Owners: none

fix: rename mock props, update doc line
  docs/commands/dev.md
  src/commands/dev/dev.js
  src/lib/geo-location.js
Owners: @netlify/netlify-dev, @netlify/docs

fix: update test
  tests/unit/lib/geo-location.test.js
Owners: none

chore: update internal
  npm-shrinkwrap.json
  package.json
Owners: none

chore: update contributors field
  package.json
Owners: none

ci(test): add 2 more machines
  .github/workflows/main.yml
Owners: none

ci(test): run on 12 machines?
  .github/workflows/main.yml
Owners: none

Revert "fix: replace ansi2html with ansi-to-html (#4750)"
  npm-shrinkwrap.json
  package.json
  src/lib/functions/scheduled.js
Owners: @netlify/runtime-pod-compute

chore: update contributors field
  package.json
Owners: none

chore: vendor wait-port to unblock CI
  .gitignore
  npm-shrinkwrap.json
  package.json
  src/commands/dev/dev.js
  src/lib/http-agent.js
  tests/integration/20.command.functions.test.js
  vendor/wait-port/LICENSE
  vendor/wait-port/index.d.ts
  vendor/wait-port/lib/errors/connection-error.js
  vendor/wait-port/lib/errors/target-error.js
  vendor/wait-port/lib/errors/validation-error.js
  vendor/wait-port/lib/extract-target.js
  vendor/wait-port/lib/extract-target.spec.js
  vendor/wait-port/lib/output-functions/dots.js
  vendor/wait-port/lib/output-functions/dots.spec.js
  vendor/wait-port/lib/output-functions/index.js
  vendor/wait-port/lib/output-functions/silent.js
  vendor/wait-port/lib/validate-parameters.js
  vendor/wait-port/lib/validate-parameters.spec.js
  vendor/wait-port/lib/wait-port.js
  vendor/wait-port/lib/wait-port.spec.js
  vendor/wait-port/package-lock.json
  vendor/wait-port/package.json
Owners: none

chore: update contributors field
  package.json
Owners: none

fix: e2e tests
  package.json
Owners: none

fix: lint
  src/commands/dev/dev.js
  src/lib/http-agent.js
Owners: none

fix(deps): update wait-port to 0.2.13
  npm-shrinkwrap.json
  package.json
Owners: none

chore: update contributors field
  package.json
Owners: none

feat: add use eszip feature flag
  src/lib/build.js
Owners: none

chore: remove tests
  vendor/wait-port/lib/extract-target.spec.js
  vendor/wait-port/lib/output-functions/dots.spec.js
  vendor/wait-port/lib/validate-parameters.spec.js
  vendor/wait-port/lib/wait-port.spec.js
Owners: none

chore: keep dependency for its dependencies
  npm-shrinkwrap.json
  package.json
  vendor/wait-port/package-lock.json
Owners: none

chore: add README
  vendor/wait-port/README.md
Owners: none

chore: pin version
  npm-shrinkwrap.json
  package.json
Owners: none

chore: vendor wait-port to unblock CI (#4783)
  .gitignore
  npm-shrinkwrap.json
  package.json
  src/commands/dev/dev.js
  src/lib/http-agent.js
  tests/integration/20.command.functions.test.js
  vendor/wait-port/LICENSE
  vendor/wait-port/README.md
  vendor/wait-port/index.d.ts
  vendor/wait-port/lib/errors/connection-error.js
  vendor/wait-port/lib/errors/target-error.js
  vendor/wait-port/lib/errors/validation-error.js
  vendor/wait-port/lib/extract-target.js
  vendor/wait-port/lib/output-functions/dots.js
  vendor/wait-port/lib/output-functions/index.js
  vendor/wait-port/lib/output-functions/silent.js
  vendor/wait-port/lib/validate-parameters.js
  vendor/wait-port/lib/wait-port.js
  vendor/wait-port/package.json
Owners: none

fix: resolve missing output when using --json (#4759)
  package.json
  src/commands/deploy/deploy.js
Owners: none

.github/CODEOWNERS:

.github/CODEOWNERS        @netlify/netlify-dev
docs/                     @netlify/netlify-dev @netlify/docs
site/                     @netlify/netlify-dev @netlify/docs
/scripts/docs.js          @netlify/netlify-dev @netlify/docs
/src/functions-templates/ @netlify/runtime-pod-compute 
/src/lib/functions/       @netlify/runtime-pod-compute 
/src/lib/edge-functions/  @netlify/runtime-pod-compute 
/src/utils/functions/     @netlify/runtime-pod-compute
